<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="/css/home.css">
    </head>

    <body>
        <div id="head_info">
        <p>Welcome to Daily Problem</p>
        </div>
         <div id="inner">
             
             <div id="form_id">
                    <form  id="subscribe" onsubmit="result()">
                        <input type="email" placeholder="Email" required  id="email_text"><br>
                        <input type = "checkbox" id = "math">Math
                        <input type = "checkbox" id = "english">English
                        <input type = "checkbox" id = "programming">Programming<br>
                        <button id="submit">Subscribe</button>
                    </form>
                 </div>
            </div>
        

    </body>
    <script src="/js/home.js"></script>

</html>